# Custom stuff
## Select directories
paper/
papers/
ethics/
# don't upload trial files/lists but create the directory
trial_files/*
!trial_files/.gitkeep
lists/*
!lists/.gitkeep

## Keep testable data private
data/994749_sequential_1/*.csv

data/159771_sequential_testable/results.with_minds_ids/
data/159771_sequential_testable/ids.csv

## Keep Bainbridge faces private
stim/faces/*.jpg


## Other stuff
code/figures/
*.webloc


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Various Rmd compilation outputs
*.log
*.aux
*.toc
*.out
*.html
*.Rhistory
.positai
